HAM/sources/scratch.sqf
HAM/vn_mf.cam_lao_nam/.remote-sync.json
HAM/vn_mf.cam_lao_nam/img/TaskRoster/*.tga
HAM/vn_mf.cam_lao_nam/paradigm
HAM/vn_mf.cam_lao_nam/paradigm/
HAM/vn_mf_build.cam_lao_nam/
HAM/mission/mission.sqm
HAM/mission/description_map.inc
HAM/mission/map_config/*
HAM/mission/paradigm/*
HAM/mission/map_config
HAM/mission/paradigm
HAM/build_output
HAM/user_paths.py
*.code-workspace